doctype 5
html
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='min.js')
    script(src='jwerty.js')
    script(src='/socket.io/socket.io.js')
    script
      // socket.io specific code
      var socket = io.connect();
      var mypic,myname = "";

      socket.on('connect', function () {
        $('#chat').addClass('connected');
      });

      socket.on('announcement', function (msg) {
        $('#lines').append($('<p>').append($('<em>').text(msg)));
        $('body').get(0).scrollTop = $('body').get(0).scrollHeight;
        if(document.body.scrollTop == 0){
            document.documentElement.scrollTop = $('body').get(0).scrollHeight;
        }
      });

      socket.on('nicknames', function (nicknames) {
        $('#nicknames').empty().append($('<span>Online: </span>'));
        for (var i in nicknames) {
          $('#nicknames').append($('<b>').text(nicknames[i]));
        }
      });
 
      socket.on('user info',function (pic,username) {
        mypic = pic;
        myname = username;
        $('img').attr("src","/img/"+pic); 
      });

      socket.on('user message', message);
      socket.on('reconnect', function () {
        $('#lines').remove();
        message('System', 'Reconnected to the server');
      });

      socket.on('reconnecting', function () {
        message('System', 'Attempting to re-connect to the server');
      });

      socket.on('error', function (e) {
        message('System', e ? e : 'A unknown error occurred');
      });
      
      socket.on('disconnect',function(){ 
        document.write("You are denied!!");
      });

      function message (from, msg, pic) {
        $('#lines').append($('<div class=messageBody>'));
        $('#lines div:last-child').append($('<img class=imgLines>').attr("src","/img/"+pic));        
        $('#lines div:last-child').append($('<p>').append($('<b>').text(from),'<br>',  msg));
        $('body').get(0).scrollTop = $('body').get(0).scrollHeight;
        if(document.body.scrollTop == 0){
            document.documentElement.scrollTop = $('body').get(0).scrollHeight;
        }
      }

      // dom manipulation
      $(function () {
  
        // enter for send out message
        jwerty.key('enter', function(){
            if($('#message').val() != ""){
            var rawMessage = htmlEncode($('#message').val());
            message(myname, rawMessage, mypic);
            socket.emit('user message', rawMessage, mypic);
            $('#message').val('').focus();
            $('body').get(0).scrollTop = $('body').get(0).scrollHeight;
            if(document.body.scrollTop == 0){
                document.documentElement.scrollTop = $('body').get(0).scrollHeight;
            }
            }
            return false;
        },this,'#message');

        // 'alt + enter' to change line in textarea
        jwerty.key('alt + enter', function(){
            $('#message').val($('#message').val() + '\n');
            $('#message').get(0).scrollTop =  $('#message').get(0).scrollHeight;
        },this,'#message');
        
        function htmlEncode(value){
          return $('<div/>').text(value).html().replace(/ /g, '&nbsp;').replace(/\r?\n/g, "<br>\n");
        }     

      });
  body
    #nicknames
    #chat
      #connecting
        .wrap Connecting to socket.io server
      #messages
        #lines
      form#send-message
        img(src='/img/0000.jpg')
        textarea#message
